* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #0e0e0e;
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

::-moz-selection {
    color: rgb(24, 7, 47);
    background: rgb(216, 160, 255);
}

::selection {
    color: rgb(24, 7, 47);
    background: rgb(216, 160, 255);
}